### 학습목표
1. python 에서 변수 이해하기
2. 기본 데이터 타입 선언하기
 - int, float, str, bool

### 기본 데이터 타입

##### =  대입 연산자,  ==  비교 연산자

In [3]:
a = 10
a

10

In [4]:
a == 10

True

#### **comment(주석)**

In [8]:
print(10)

10

#### **print 함수**

In [11]:
#함수 

print(a)
b= 20
print(a,b)
print(a,100, 200, 'a',b)

10
10 20
10 100 200 a 20

* **print함수 설정**
 - sep : 구분자, 각 출력할 변수 사이에서 구별하는 역할을 함
 - end : 마지막에 출력할 문자열

In [16]:
print(a,b,10,100, sep='   ')
print(a,b,10,100, sep='\n', end ='!!!!')

10   20   10   100
10
20
10
100!!!!

#### **변수 값 확인법**
 - print() 함수 사용
 - 변수 값을 코드의 마지막에 위치 시킨 후 실행
   - 이 경우 output으로 변수의 값이 출력

In [20]:
print(a)
print(b)

10
20

#### **variable naming (변수 이름 규칙)**
  - 영문 대소문자, _, 숫자 사용 가능하다.
  - 대소문자 구분한다.
  - 숫자로 시작 할 수 없다. 
  - _ 로 시작 가능하다. 
  - 키워드(예약어)는 사용 할 수 없다.

In [27]:
a = 'a'
a

b = input() 
print(b)

# print(A)

10
10

In [34]:
_a = 100
_a

_import = 1

a = 90
score_kang = 100

scoreKang = 100

#### 변수 여러개 한 번에 만들기

In [6]:
x, y, z = 10, 20, 30  

# x, y , z = 10, 20  #  변수와 값이 짝이 맞아야 함. 

x = y = z = 10
z

10

#### **reserved keywords (예약어)**
  - python에서 미리 선점하여 사용중인 키워드
  - 변수, 함수, 클래스 등등의 사용자 정의 이름으로 사용할 수 없음

In [35]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### 기본 데이터 타입 
  - 정수 (int)
  - 실수 (float)
  - 문자열 (str)
  - 불리언 (boolean)

#### type 함수
 - 해당 변수, 값의 타입(type)을 알고자 할 때 사용

In [37]:
a = 10
type(a)

int

In [39]:
a = 10.1
type(a)

float

In [42]:
a = 'a'
type(a)

str

In [43]:
a = "a"
type(a)

str

#### **None**
 - 아무런 값을 갖지 않을 때 사용
 - 일반적으로 변수가 초기값을 갖지 않게 하여 해당 변수를 생성할 때 사용
 - 기타 언어의 NULL, nil등과 같은 의미로 사용

In [47]:
a = 100
print(a)
a = None
print(a)

del(a)
a

100
None

NameError: name 'a' is not defined

#### **comparison operator(비교 연산자)** 
  - 프로그래밍에서는 비교를 할 경우, = 대신 **==**를 사용
  - <, > (작다, 크다)
  - <=, >= (작거나 같다, 크거나 같다)
  - == 같다
  - != 같지 않다
  - 비교 연산자의 결과는 bool 타입

In [53]:
a = 4
b = 5

a > b
a != b
a == b
a<b

True

#### **numbers (숫자형 타입)**
 - 정수, 실수로 구성
 - 수학의 기본 연산자(가감승제) 사용 가능

In [2]:
a = 7
b = 3

print(a + b)
print(a-b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

10
4.0
2.3333333333333335
2
1
343

#### **operator priorities (연산자 우선순위)**
  - 기본적인 수학의 연산자와 동일
  - 강제로 연산을 선수하기 위해선, 괄호()를 사용

In [58]:
print(a + b * 4)
print((a+b)*4)

19
40

*  **연습문제** 다음의 각 a값을 출력 했을 때 결과는?

In [60]:
a = 9 
print(a)
print(a-3)
print(a)

9
6
9

#### **expression evaluation & assignment (식평가 & 대입)**
 - 변수의 값이 변경되기 위해서는 =를 사용하여 대입이 발생하는 경우에만 해당

In [61]:
a = 8 
a -2 
print(a)

8

In [62]:
a = 8 
a = a -2 
print(a)

6

In [63]:
a += 2  # a = a + 2
a

8

In [64]:
x = input()

10

In [65]:
type(x)

str

In [66]:
x = int(input())

10

In [68]:
type(x)

int

In [70]:
x = input('문자를 입력하세요.')

문자를 입력하세요.강경미

In [71]:
x

'강경미'